{% extends 'base.html.twig' %}
{% block header %}
    <header class="bar bar-nav">
        <a href="{{ path("sale_center") }}" class="icon icon-left pull-left"></a>
        <h1 class="title">提现中心</h1>
    </header>
{% endblock %}

{% block body %}
<div class="content">

</div>
{% endblock %}