{% extends 'base.html.twig' %}
{% block header %}
    <header class="bar bar-nav">
        <h1 class="title">我的订单</h1>
    </header>
{% endblock %}

{% block body %}
    <div class="content">
        <div class="list-block media-list">
            <ul>
                <li>
                    <a href="#" class="item-link item-content">
                        <div class="item-media"><img src="http://gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i3/TB10LfcHFXXXXXKXpXXXXXXXXXX_!!0-item_pic.jpg_250x250q60.jpg" width="80"></div>
                        <div class="item-inner">
                            <div class="item-title-row">
                                <div class="item-title">订单编号</div>
                                <span class="item-after">删除该订单</span>
                            </div>
                            <div class="pull-right">$15</div>
                            <div class="item-subtitle">标题</div>
                            <div class="item-text">此处是文本内容...</div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#" class="item-link item-content">
                        <div class="item-media"><img src="http://gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i3/TB10LfcHFXXXXXKXpXXXXXXXXXX_!!0-item_pic.jpg_250x250q60.jpg" width="80"></div>
                        <div class="item-inner">
                            <div class="item-title-row">
                                <div class="item-title">订单编号</div>
                                <span class="item-after">删除该订单</span>
                            </div>
                            <div class="pull-right">$15</div>
                            <div class="item-subtitle">标题</div>
                            <div class="item-text">此处是文本内容...</div>
                        </div>

                    </a>
                </li>
                <li>
                    <a href="#" class="item-link item-content">
                        <div class="item-media"><img src="http://gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i3/TB10LfcHFXXXXXKXpXXXXXXXXXX_!!0-item_pic.jpg_250x250q60.jpg" width="80"></div>
                        <div class="item-inner">
                            <div class="item-title-row">
                                <div class="item-title">订单编号</div>
                                <span class="item-after">删除该订单</span>
                            </div>
                            <div class="pull-right">$15</div>
                            <div class="item-subtitle">标题</div>
                            <div class="item-text">此处是文本内容...</div>
                        </div>

                    </a>
                </li>
                <li>
                    <a href="#" class="item-link item-content">
                        <div class="item-media"><img src="http://gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i3/TB10LfcHFXXXXXKXpXXXXXXXXXX_!!0-item_pic.jpg_250x250q60.jpg" width="80"></div>
                        <div class="item-inner">
                            <div class="item-title-row">
                                <div class="item-title">订单编号</div>
                                <span class="item-after">删除该订单</span>
                            </div>
                            <div class="pull-right">$15</div>
                            <div class="item-subtitle">标题</div>
                            <div class="item-text">此处是文本内容...</div>
                        </div>

                    </a>
                </li>
                <li>
                    <a href="#" class="item-link item-content">
                        <div class="item-media"><img src="http://gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i3/TB10LfcHFXXXXXKXpXXXXXXXXXX_!!0-item_pic.jpg_250x250q60.jpg" width="80"></div>
                        <div class="item-inner">
                            <div class="item-title-row">
                                <div class="item-title">订单编号</div>
                                <span class="item-after">删除该订单</span>
                            </div>
                            <div class="pull-right">$15</div>
                            <div class="item-subtitle">标题</div>
                            <div class="item-text">此处是文本内容...</div>
                        </div>

                    </a>
                </li>
                <li>
                    <a href="#" class="item-link item-content">
                        <div class="item-media"><img src="http://gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i3/TB10LfcHFXXXXXKXpXXXXXXXXXX_!!0-item_pic.jpg_250x250q60.jpg" width="80"></div>
                        <div class="item-inner">
                            <div class="item-title-row">
                                <div class="item-title">订单编号</div>
                                <span class="item-after">删除该订单</span>
                            </div>
                            <div class="pull-right">$15</div>
                            <div class="item-subtitle">标题</div>
                            <div class="item-text">此处是文本内容...</div>
                        </div>
                    </a>
                </li>

            </ul>
        </div>
    </div>
{% endblock %}