{% extends 'base.html.twig' %}
{% set user = app.user.user %}
{% set wechat = app.user %}
{% set member = user.member %}
{% block header %}
    <header class="bar bar-nav">
        <a href="{{ path("member_center") }}" class="icon icon-left pull-left"></a>
        <h1 class="title">我的订单</h1>
    </header>
{% endblock %}

{% block body %}
    <div class="content">
        {{ include('member/order_item.html.twig',{'order': member.trades}) }}
    </div>
{% endblock %}