{% extends 'base.html.twig' %}

{% block header %}
    <header class="bar bar-nav">
        <h1 class="title">网站主页</h1>
    </header>
{% endblock %}

{% block body %}

    <div class="content">
        <div class="swiper-container" data-space-between="0" data-autoplay="5000">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="{{ asset('build/images/sw1.jpg') }}" width="100%" /> </div>
                <div class="swiper-slide"><img src="{{ asset('build/images/sw2.jpg') }}" width="100%" /> </div>
                <div class="swiper-slide"><img src="{{ asset('build/images/sw3.jpg') }}" width="100%" /> </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.js' charset='utf-8'></script>

{% endblock %}