@import "~@fortawesome/fontawesome-free/css/all.css";
ul,li{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
*{
    margin: 0;
    padding: 0;
}
html,body {
    background-color: lightgray;
}
header .swiper-container{
    width: 750px;
    height: 398px;
}
.swiper-container-horizontal>.swiper-pagination{
    bottom: 0;
}
.swiper-container{
    padding-bottom: 5px;
}
.searchbar{
    height: 2.5rem;
}
#search{
    text-align: center;
    line-height: 2rem;
    height: 2rem;
    border-radius: 0.8rem;
}
.search-input .icon {
    left: 5.5rem;
}

/********栏目样式*********/
#nav {
    padding: 1rem 0.5rem;
    width: 99%;
    margin: 1.2rem auto;
    background-color: #98aab4;
    border-radius: 25px;
}
#nav a {
    display: block;
    width: 100%;
    color: #666;
    /* padding: 0.1rem 1%; */
    text-align: center;
    font-size: 0.9rem;
}
.bg2 {
    display: block;
    margin: 0.5rem 0;
    height: 0.2rem;
    background: #dfdfdf;
}


/********首页展现****************/
.cate-title {
    text-align: center;
    font-size: 0.9rem;
    color: #cb544e;
    width: 6rem;
    margin: 0 auto;
    padding: 0.26rem 0;
    border: 2px solid #beccd5;
    box-shadow: -5px 5px 5px #c1c2c4;
}
.second-title {
    font-size: 0.8rem;
    height: 1.5rem;
    line-height: 1.5rem;
    margin: 0.5rem 2% 0.5rem 0;
}
.second-title .blue-text {
    color: #495682;
    font-size: 1rem;
    margin-left: 0.5rem;
    font-weight: 500;
}
.blue-text sub {
    font-size: .5rem;
    margin-left: .5rem;
}

.index-goods-list .card{
    border-radius: 0.5rem;
    margin: 0.25rem;
}

.index-goods-list .card img{
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}
.index-goods-container .row{
    width: 98%;
    margin: 0 auto;
}

/*************会员中心****************/
.member-card-header-pic{
    background: url("http://www.bhyulong.cn/themes/tianxin100/images/top_bj.jpg") center no-repeat;
}
.headImg{
    border-radius: 100%;
}
.member-inner{
    padding: 2rem .75rem;
}
div.member-tabs{
    background: transparent;
    width: 100%;
}
div.member-tabs::after{
    content: none;
}
div.member-tabs .tab-link.button{
    text-align: center;
    color: #fff;
    border: none;
}
div.member-tabs .tab-link.button.active{

}
.tab-link .fa{
    display: block;
    font-size: 1.2rem;
    line-height: 0.8rem;
}
.account{
    height: 5rem;
}
.member-content{
    position: relative;
}
.member-content .tabs{
    position: absolute;
    z-index: 10;
    width: 100%;
}

.item-panel{
    display: none;
}

/***********商品详情页面************************/

#show-swiper{
    height: 15rem;
}
.goods-header{
    height: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    background: #f2f2f2;
    -webkit-box-sizing: unset;
    -moz-box-sizing: unset;
    box-sizing: unset;
}
.goods-header h3{
    width: 76%;
    float: left;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    color: #333;
    padding-left: 3%;
    padding-right: 3%;
    overflow: hidden;
    font-weight: normal;
    margin: 0;
}
header.bar a.back{
    padding: 0.5rem 1rem;
    font-size: 0.75em;
    color: #333;
}
header .row{
    width: 70%;
}
.title-tabs{
    color: #333;
    font-size: 0.75em;
    line-height: 2.2rem;
    display: inline-block;
    text-align: center;
    width: 28%;
}
.title-tabs.on{
    color: #dd2726;
    border-bottom: 2px solid #dd2726;
}
.goods-header .right{
    width: 18%;
    float: left;
    font-size: 16px;
    color: #333;
    border-left: 1px solid #e2dfdf;
    margin-left: -1px;
    text-align: center;
}
#pro_share{
    line-height: 50px;
}
#share_wx_notice {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: url(../images/touming_500.png) repeat;
    top: 0;
    left: 0;
    z-index: 9999;
}
#share_wx_notice span {
    position: fixed;
    width: 100%;
    height: 100%;
    background: url(../images/share_guide.png) no-repeat right top;
    background-size: 90% auto;
    z-index: 9999;
    top: 0;
    left: 0px;
    background-position: center -30px;
}

.goods-header .right .share {
    width: 40px;
    height: 40px;
    margin: auto;
    background: url(../images/s7.png) no-repeat center top;
    background-size: 80% auto;
    font-size: 12px;
    padding-top: 25px;
}
.goods_price{
    width: 95%;
    margin: auto;
    overflow: hidden;
    padding-top: 10px;
}
.goods_price dt span {
    display: block;
    float: left;
    font-size: 24px;
    line-height: 30px;
    color: #dd2726;
}
.goods-amount{
    display: block;
    float: left;
    font-size: 24px;
    line-height: 30px;
    color: #dd2726;
}
.goods_price del{
    display: block;
    float: left;
    margin-left: 8px;
    text-decoration: line-through;
    font-size: 12px;
    line-height: 30px;
    color: #999;
}
.goods_price p{
    text-indent: 10px;
    float: left;
    font-size: 12px;
    line-height: 30px;
    color: #999;
    margin: 0;
}
.subNavBox {
    overflow: hidden;
    margin-left: 10px;
    padding-bottom: 0px;
    margin-right: 10px;
}
.huodong {
    background: #F2F2F2;
    width: 100%;
    overflow: hidden;
}

.subNav.on {
    background: url(../images/arrow_down_on.png) no-repeat right center;
    background-size: auto 14px;
}
.subNav {
    background: url(../images/arrow_down_off.png) no-repeat right center;
    background-size: auto 13px;
}
.att_title {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eeeeee;
}
.att_title span {
    margin-top: 8px;
    margin-left: 12px;
    float: left;
    font-size: 12px;
    line-height: 23px;
    color: #fff;
    width: 23px;
    height: 23px;
    background: #dd0303;
    border-radius: 50%;
    text-align: center;
}
.att_title p {
    height: 30px;
    padding-left: 10px;
    float: left;
    font-size: 14px;
    line-height: 40px;
    color: #666;
    margin: 0;
}
.youhui_list1{
    width: 100%;
    display: block;
    overflow: hidden;
    zoom: 1;
}
.youhui_list1 li {
    width: 60%;
    float: left;
    font-size: 14px;
    line-height: 30px;
    color: #666;
}
.youhui_list1 li img {
    display: inline-block;
    width: 22px;
    height: 22px;
    margin-right: 7px;
    margin-left: 12px;
}
.subNav strong {
    display: block;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #eeeeee;
    color: #666;
    font-weight: normal;
    font-size: 14px;
    line-height: 40px;
}
.huodong .subNav {
    margin-right: 10px;
}
.navContent{
    display: none;
}
.navContent li .item1 {
    width: 100%;
    height: 50px;
    overflow: hidden;
    padding-bottom: 5px;
}
.navContent li .item1 .ui-number {
    border: 1px solid #ddd9da;
    overflow: hidden;
    height: 30px;
    display: block;
    width: 100px;
    margin-top: 10px;
}
.navContent li .item1 .ui-number .decrease {
    display: inline-block;
    font-size: 24px;
    line-height: 30px;
    border: 0;
    width: 30px;
    float: left;
    height: 30px;
    color: #F8849C;
    border-right: 1px solid #ddd9da;
    text-indent: -9999px;
    background: url(../images/flow/shop-cart.png) no-repeat 6px -25px;
    background-size: 60px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.navContent li .item1 .ui-number .num {
    display: inline-block;
    border: 0;
    width: 38px;
    height: 30px;
    float: left;
    line-height: 30px;
    color: #666;
    font-size: 20px;
    text-align: center;
}
.navContent li .item1 .ui-number .increase {
    display: inline-block;
    border: 0;
    border-left: 1px solid #ddd9da;
    float: left;
    width: 30px;
    height: 30px;
    font-size: 24px;
    line-height: 30px;
    color: #F8849C;
    background: url(../images/flow/shop-cart.png) no-repeat -23px -25px;
    background-size: 60px;
    text-indent: -9999px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.index_floor h2 {
    height: 35px;
    line-height: 37px;
    background: #ffffff;
    position: relative;
    font-size: 16px;
    font-family: "微软雅黑";
    font-weight: normal;
    text-indent: 15px;
    color: #535353;
}
.main {
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.index_floor h2 span {
    height: 17px;
    width: 3px;
    background: #f23015;
    position: absolute;
    display: block;
    margin-top: 10px;
    margin-left: 6px;
}
.product_desc {
    padding: 5px;
    margin-top: 47px;
}
.left-button,.right-button{
    width: 50%;
    float: left;
}
.right-button .button{
    line-height: 2rem;
    height: 2rem;
    color: #fff;
    border: none;
}
.right-button .button:nth-child(1){
    background-image: linear-gradient(to right, #FFC500, #FF9402);
}
.right-button .button:nth-child(2){
    background-image: linear-gradient(to right, #FF7A00, #FE560A);
}
.blue{
    color: #0F83E8;
}
.red{
    color: #ff2222;
}























